/* Селектори - ідентифікатори */
#about {
    background-color: #f0f0f0;
}

/* Селектори - класів */
ul {
    list-style-type: none;
}

/* Селектори - сусідів */
nav ul li {
    margin-right: 10px;
}

/* Селектори - контекстний(спадкоємців) */
article p {
    font-weight: bold;
}

/* Селектори - атрибутів:[attr] */
[title] {
    border: 1px solid #ccc;
}

/* Селектори - атрибутів:[attr ~=value] */
[title~="info"] {
    background-color: #ffcc00;
}

/* Селектори - атрибутів:[attr*=value] */
[title*="taras"] {
    color: red;
}

/* Псевдокласи::first-child */
nav ul li:first-child {
    font-weight: bold;
}

/* Псевдокласи::last-child */
nav ul li:last-child {
    font-style: italic;
}

/* Псевдокласи::enabled */
input:enabled {
    background-color: #fff;
}

/* Псевдокласи::invalid */
input:invalid {
    border: 2px solid red;
}

/* Псевдокласи::visited */
a:visited {
    color: purple;
}

/* Псевдокласи::last-of-type */
li:last-of-type {
    background-color: #eee;
}

/* Псевдокласи::empty */
aside:empty {
    display: none;
}

/* Псевдоелементи ::first-line */
article::first-line {
    font-size: 24px;
}

/* Псевдоелементи ::selection */
::selection {
    background-color: #0077ff;
    color: #fff;
}

/* Границі, заповнювачі і рамки */
#about {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    border-right-width: thin;
    border-bottom-width: thin;
    border-style: dashed;
    border-color: #999;
}

/* Позиціювання елементiв */
header {
    display: table;
}

nav {
    display: table-row;
}

ul {
    display: table-cell;
}

aside {
    position: fixed;
    top: 50px;
    margin: 110px 40px 50px 50px;
    right: 20px;
    z-index: 999;
}

/* Візуалізація елементiв */
h2 {
    max-width: 400px;
    width: auto;
    height: 30px;
    line-height: 150%;
    vertical-align: middle;
}

td,
th {
    border: 1px solid #150101;
    padding: 3px;
    text-align: center;
    width: 50px;
}

table col {
    width: 30px;
   
}